<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
</head>
<body>
    <a style="font-size: 20px; text-decoration: none;" href="{% url 'form' %}">BiodataForm</a>
    <a style="font-size: 20px; text-decoration: none;" href="{% url 'e_form' %}">employForm</a>
    <hr>
    <h1 style="text-align: center;">index page</h1>
    {% for i in data %}
      {{i.file_number}} <br>
      {{i.first_name}} <br>
      {{i.last_name}} <br>
      {{i.other_name}} <br>
      {{i.date_of_birth}} <br>
      {{i.gender}} <br>
      {{i.nationality}} <br>
      {{i.created_by}} <br>
    
    {% endfor %}
</body>
</html>